@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Ubuntu:wght@300&display=swap');
body{
    margin: 0;
}
.splash{
    height: 100vh;
    width: 100vw;
    background-color: black;
    
}
.brokensplash{
    height: 100vh;
    width: 100vw;
    background-color: #646464    
}
#lines{
    z-index: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#lines path{
    z-index: 5;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}
#brokenlines{
    z-index: 0;
}
#brokenlines path{
    z-index: 5;
    stroke-dasharray: 800;
    stroke-dashoffset: 0;
}
.title{
    font-family: 'Caveat';
    font-size: 50px; 
    color: white;
}
.description{
    color: white;
    font-family: 'Ubuntu';
}